<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<FilesMatch "^(?!index\.php$).*\.php$">
    Require all denied
</FilesMatch>

<FilesMatch "\.(ini|log|sqlite|db|sql)$">
    Require all denied
</FilesMatch>